# Python
env/
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform*
.terraformrc
terraform.rc

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Docker
.docker/

# AWS
.aws/
credentials